@page
@model AgendaSIG5.App.Frontend.Pages.Ciudades.Detalles2Model
@{
}
<h1>Detalle de la Ciudad</h1>
<table class="table table-striped">
    <tr>
        <th scope="col">Nombre Ciudad</th>
        <td>@Model.ciudad.NombreCiudad</td>
    </tr>
</table>
<a class="btn btn-secondary" asp-page="./Index2">Volver</a>