@page
@model AgendaSIG5.App.Frontend.Pages.Ciudades.Editar1Model
@using AgendaSIG5.App.Dominio
@{
}
<h1>Actualizar Ciudad</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="ciudad.Id"></label>
        <input asp-for="ciudad.Id" class="form-control" readonly>
    </div>
    <div class="form-group">
        <label asp-for="ciudad.NombreCiudad"></label>
        <input asp-for="ciudad.NombreCiudad" class="form-control">
        <span asp-validation-for="ciudad.NombreCiudad" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Actualizar Ciudad</button>
</form>
<a class="btn btn-secondary" asp-page="./Index1">Volver</a>