@page
@model AgendaSIG5.App.Frontend.Pages.Personas.Crear1Model
@using AgendaSIG5.App.Dominio
@{
}
<h1>Registro Persona</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="persona.Nombre"></label>
        <input asp-for="persona.Nombre" class="form-control">
        <span asp-validation-for="persona.Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="persona.Apellidos"></label>
        <input asp-for="persona.Apellidos" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="persona.Telefonos"></label>
        <input asp-for="persona.Telefonos" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="persona.ECorreo"></label>
        <input asp-for="persona.ECorreo" class="form-control">
    </div>	
    <div class="form-group">
        <label asp-for="persona.Direccion"></label>
        <input asp-for="persona.Direccion" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="persona.Genero"></label>
        <select asp-for="persona.Genero" asp-items="Html.GetEnumSelectList<Genero>()" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="persona.Eps"></label>
        <input asp-for="persona.Eps" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="persona.Especialidad"></label>
        <input asp-for="persona.Especialidad" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="persona.RegistroMedico"></label>
        <input asp-for="persona.RegistroMedico" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="persona.FK_Id_Sede">Sede</label>
        <input asp-for="persona.FK_Id_Sede" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Crear Persona</button>
</form>
<a class="btn btn-secondary" asp-page="./Index1">Volver</a>