@page
@model AgendaSIG5.App.Frontend.Pages.Sedes.Detalles3Model
@{
}
<h1>Detalle de la Sede</h1>
<table class="table table-striped">
    <tr>
        <th scope="col">Nombre Sede</th>
        <td>@Model.sede.Nombre</td>
    </tr>
</table>
<a class="btn btn-secondary" asp-page="./Index3">Volver</a>